body {
    overflow: hidden;
}
.container {
    display: flex;
    margin: auto;
    width: 50%;
    margin-top: 10px;
}

.container input {
    border-radius: 5px;
    width: 50%;
    height: 25px;
    margin: 10px;   
}

.container button {
    border-radius: 5px;
    /* height: 25px; */
    background-color: rgb(9, 82, 57);
    color: white;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
    
}

.container div{
    display: flex;
    flex-wrap: wrap;
}

.btn {
    width: 20px;
    height: 30px;
    justify-content: end;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
    padding: 3px 3px;
    margin: 2px 5px;
    background-image: linear-gradient(to right,#8bd82d, #115631,#144878);
    /* background-size: 100%; */
    font-size: 0.9rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}