
.btn {
    display: block;
    color: antiquewhite;
    
    width: 20%;
    height: 30px;   
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right,#8bd82d, #115631,#144878);
    /* background-size: 100%; */
    font-size: 0.9rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
    padding: 3px 3px;
    margin: 2px 5px;
}
.btn button{
    display: grid;
    grid-row: inherit;
    grid-template-columns: repeat();
}

.btn:hover{
    background-position: right;
    background-attachment: fixed;
    background-repeat: inherit;
}